@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login as Admin";
}

@model LoginAsAdminViewModel 

<head>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/login-page/login-page.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/login-page/login-as-resident.css" />
</head>
<body>
    <div class="continer">
        <img id="itmo-logo" src="~/images/ItmoLogo blue.png" />
        <div class="button-container">
            <a asp-area="" asp-controller="Account" asp-action="LoginAsResident" class='button -regular center'>Sign in with ISU</a>
            <div class="line-container">
                <hr align="left" />
                <p>Sign in as Administrator</p>
                <hr align="right" />
            </div>
        </div>
        <form asp-controller="Account" asp-action="LoginAsAdmin" method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="textbox-container">
                <label>
                    Email<span class="req">*</span>
                </label>
                <input required placeholder="example@test.com" type="email" autocomplete="off" asp-for="Email"> 
            </div>
            <div class="textbox-container">
                <label>
                    Password<span class="req">*</span>
                </label>
                <input required placeholder="min 8 characters" type="password" autocomplete="off" asp-for="Password"> <!--todo: когда будем писать бек вставить суда asp-for="Password"-->
            </div>
            <input type="submit" value="Login" class='button -blue center'>
            <div class="login-helpers-container">
                <div class="remember-me">
                    <input asp-for="RememberMe" type="checkbox"/>
                    <label>Remember me</label>
                </div>
                <a class="link" href="#">Forgot password?</a>
            </div>
        </form>
    </div>
</body>
