* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 150%;
}

body {
    margin: 0;
}

.menu {
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
    background: linear-gradient(to top, #F21F5B, #2E2FB2);
    display: flex;
    flex-direction: column;
}


.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
    padding-left: 20px;
}

.navbar-item {
    font-size: 17px;
    display: flex;
    align-items: stretch;
    height: 120%;
    padding: 20% 0 20% 0;
}

.nav-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    word-break: break-word;
    top: 0;
    bottom: 0;
    margin: auto 0;
    justify-content: space-evenly;
    align-items: center;
}

    .nav-link p {
        margin-left: 0px;
        text-align: center;
    }

.vertical-center {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.check-square {
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.text-light {
    color: white
}

.nav-link-img {
    margin: 5px;
    margin-left: 5px;
    width: 25%;
}

@media screen and (max-width: 900px) {
    .nav-link-p {
        display: none;
    }

    .menu {
        width: 20%;
    }

    .check-square {
        height: 50%;
    }

    .navbar-item {
        align-items: center;
    }

    #itmo-logo {
        display: none
    }
}
