body {
    margin: 0px;
    padding: 0px;
}

/*rooms*/
.room__header {
    font-size: 1.5em;
}

.room__container {
    height: 199px;
    width: 90%;
    position: relative;
    margin-bottom: 20px;
}

.rooms__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.rooms__text {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding-top: 85px;
    padding-bottom: 85px;

    position: absolute;
    text-align: center;

    color: white;
    background: #00000094;
    font-weight: bold;
    font-size: 20px;
}

.table_tennis {
    background-image: url("images/table_tennis.jpg");
    height: 200px;
    width: 50%;
}

.study_room {
    background-image: url("images/study_room.jpg");
    height: 200px;
    width: 50%;
}

/*button*/
.reserve {
    /*width: 300px;*/
    width: 100%;
    height: 50px;
    text-align: center;
    /*border-radius: 25px;*/
    font-size: 15px;

    color: #494949 !important;
    background: #ffffff;
    border: 2px solid #494949 !important;
    transition: all 0.4s ease 0s;
}


.reserve:hover {
    color: #ffffff !important;
    background: #F21F5B;
    border-color: #F21F5B !important;
    transition: all 0.4s ease 0s;
}

.slot {
    background-color: #86cfda;
    width: 50%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 5%;
}

.back {
    width: 50%;
    height: 50px;
    margin-top: 5%;

    font-size: 15px;

    color: #494949 !important;
    background: #ffffff;
    border: 2px solid #494949 !important;
    transition: all 0.4s ease 0s;
}

.back:hover {
    color: #ffffff !important;
    background: #F21F5B;
    border-color: #F21F5B !important;
    transition: all 0.4s ease 0s;
}

.reservation {
    border: 2px solid #494949;
    width: 50%;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 5%;
}

.all__container {
    display: flex;
    flex-direction: column;
}

.pagination {
    display: inline-block;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    border: 0px;
}

.pagination button.active {
    background-color: #4CAF50;
    color: white;
}

.pagination button:hover:not(.active) {background-color: #ddd;}
