@{
    ViewData["Title"] = "Reservation";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Reservations</title>
    <link rel="stylesheet" href="css/reservations.css">
    <script>
        setActiveNavItem('reservation');
    </script>
</head>

<body>
<header>
    <h1 class="room__header">Выберите комнату для бронирования:</h1>
</header>
<div>
    <section onclick="" class="room__container">
        <img class="rooms__img" src="images/billiard.jpg" alt="billiard"/>
        <a class="rooms__text" onclick="location.href='@Url.Action("Reserve","Reservation", new {roomName = "billiard"})'">Бильярд</a>
    </section>
    
    <section class="room__container">
        <img class="rooms__img" src="images/table_tennis.jpg" alt="tennis"/>
        <p class="rooms__text" onclick="location.href='@Url.Action("Reserve","Reservation", new {roomName = "tennis"})'">Теннис</p>
    </section>
    
    <section class="room__container">
        <img class="rooms__img" src="images/study_room.jpg" alt="study"/>
        <p class="rooms__text" onclick="location.href='@Url.Action("Reserve","Reservation", new {roomName = "study"})'">Учебка</p>
    </section>
        
    <button class="back" style="width: 90%" onclick="location.href='@Url.Action("MyReservations", "Reservation")'">Мои бронирования</button>
</div>
</body>
</html>
