@{
    ViewData["Title"] = "Reserve";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Reserve</title>
</head>
<body>
<header>
    <h1 class="room__header">Выберете доступный слот:</h1>
</header>
<div>
    @if (ViewBag.Slots.Count != 0)
    {
        @foreach (var item in ViewBag.Slots)
        {
            <div>
                <div class="slot">
                    <button class="reserve" onclick="location.href='@Url.Action("Reserved","Reservation", new {id = @item.Id})'">@item.Starts</button>
                </div>
            </div>
        }
    }
    @if (ViewBag.Slots.Count == 0)
    {
        <div>
            <p>Ничего не нашлось :(</p>
        </div>
    }
    <button class="back" onclick="location.href='@Url.Action("Index", "Reservation")'">Назад</button>
</div>
</body>
</html>


