@{
    ViewData["Title"] = "Reserved";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Reserved</title>
</head>
<body>
<header>
</header>
<div>
    @if (ViewBag.Success)
    {
        <p class="room__header">Слот успешно зарезервирован</p>
    }
    @if (!ViewBag.Success)
    {
        <p>Слот уже кто-то занял :( Попробуйте другой</p>
    }
    <button class="back" onclick="location.href='@Url.Action("Index", "Reservation")'">Назад</button>
</div>
</body>
</html>




